test/.ipynb_checkpoints
test/roberta-base-8192/
test/test*.py
test/json_data.txt

dev-dataFiller/
data/
__pycache__/

app/.env
app/final_anwer.txt
app/ordered_anwers.txt
app/raw_anwers.txt

app/notebooks/.ipynb_checkpoints
app/notebooks/final_anwer.txt
app/notebooks/ordered_anwers.txt
app/notebooks/raw_anwers.txt
